* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

:root {
    --back-color: #f8edf0;
    --btn-color: #d64374;
}

.flex {
    display: flex;
}

.portion {
    flex: 1;
}

.main-btn {
    display: inline-block;
    background-color: var(--btn-color);
    color: #fff;
    border-radius: 6px;
    border: transparent;
}

.container {
    width: 1400px;
    margin: 0 auto;
}
/* navbar start */
header#main-header {
    background-color: var(--back-color);
}
.logo {
    margin-left: 130px;
}

.ul-item {
    margin-left: 200px;
    gap: 50px;
    align-items: center;
}

.li-item {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #150101;
    opacity: 0.6;
}
.main-btn {
    margin: 13px 15px 0 120px;
    width: 165px;
    height: 49px;
}
.li-item:first-child {
    color: #d21655;
    font-weight: bold;
    font-size: 16px;
}

/* navbar end */

/* ice-cream start */

div#ice-cream {
    background-color: var(--back-color);
    display: flex;
}
.portion {
    width: 50%;
    height: 100vh;
    padding: 80px 60px 100px;
}

div#ice-cream {
    height: 700px;
}
div#ice-cream .portion p:first-child {
    padding-bottom: 10px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    
    color: #0f0101;
}
div#ice-cream .portion h1 {
    width: 665px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 57.33px;
    line-height: 120.5%;
    color: #0f0101;
}
div#ice-cream .portion .ice-text {
    width: 523px;
    margin-top: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    
    color: #0f0101;
}
.main-btn2 {
    width: 165px;
    height: 49px;
    margin: 40px 0;
    background-color: var(--btn-color);
    color: #fff;
    border-radius: 6px;
    border: transparent;
}
.img-box {
    position: relative;
}
.img1 {
    position: absolute;
    right: 70px;
}
.img2 {
    position: absolute;
    right: 1px;
    top: 100px;
}

/* ice-cream end */

/* free start */
div#free ul {
    display: flex;
    justify-content: space-evenly;
}
div#free li {
    width: 250px;
    height: 200;
    margin: 60px 0;
}
div#free {
    text-align: center;
}
div#free h3 {
    padding-top: 10px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

div#free p {
    padding-top: 10px;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    
    color: #000000;
}

/* free end */

/* sugur brown start */
section#sugur {
    background-color: var(--back-color);
    height: 545px;
    display: flex;
}
section#sugur .portion {
    padding: 140px 0 0 140px;
}

section#sugur h2 {
    width: 349px;
    height: 98.27px;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    
    color: #150101;
}
section#sugur p {
    margin-top: 20px;
    width: 442px;
    height: 58.16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #150101;
}
section#sugur img {
    margin-right: 180px;
}
/* sugur brown end */

/* our-product strat */
section#our-product .portion {
    height: 415px;
}

section#our-product h2 {
    margin-top: 70px;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
}

section#our-product ul {
    width: 890px;
    margin-left: 240px;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}
section#our-product li {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    
    color: #000;
}
section#our-product li:first-child {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    border-bottom: 3px solid #d64374;
}
section#our-product div .our h2 {
    margin: 150px 0 20px;
    display: flex;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}
section#our-product div .our {
    width: 454px;
    margin-right: 210px;
}

section#our-product div .our p {
    margin: 0 0 20px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
section#our-product div .our h4 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    
    color: #000000;
}
section#our-product div .our span {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: #000000;
}

.second {
    display: flex;
    flex-direction: row-reverse;
}

section#our-product .flex2 {
    flex-direction: row-reverse;
}
.portion2 {
    display: flex;
    flex-direction: row-reverse;
}
.our2 {
    width: 50%;
    margin: 120px;
}

.our2-title2 {
font-family: sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 36px;
text-align: right;

color: #000000;
}

.our2-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: right;
margin-top: 18px;
padding-left: 150px;
color: #000000;
}
.our2-title4 {
    margin-top: 10px;
    font-family: sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 36px;
text-align: right;
color: #000000;
}
.span4 {
    font-family: sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
text-align: right;
text-decoration-line: line-through;
color: #000000;
}
.main-btn3 {
    width: 165px;
    height: 49px;
    margin: 40px 0;
    background-color: var(--btn-color);
    color: #fff;
    border-radius: 6px;
    border: transparent;
    margin-left: 450px;
}

/* our-product end */

/* section-phone start */

section#simple-way {
    margin-top: 50px;
    height: 660px;
    display: flex;
    background-color: var(--back-color);
}
.phone {
    padding: 120px 0 120px 140px;
}
.phone-2 {
    border-radius: 30px;
}
.simple-way-left {
    margin-top: 200px;
    padding-left: 100px;
}
.simple-title {
    font-family: sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
color: #000000;
}
.simple-text {
    margin-right: 200px;
    padding-top: 20px;
    font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.01em;

color: #0F0101;
}
.ul-item2 {
margin-top: 30px;
}
.li-item2 {
    display: flex;

}
.li-img {
    width: 30px;
height: 30px;
background-color: #fff;
padding: 8px;
margin: 8px;
}
.li-title2 {
    font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
padding-top: 8px;
margin-left: 10px;
color: #000000;
}
.two-img {
    position: relative;
}
.ois {
    position: absolute;
    top:-5px;
}



/* section-phone end */
